body {
    background-color: #0d1117;
    color: #c9d1d9;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#app {
    text-align: center;
    width: 70%;
}

#file-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.file-item {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    width: calc(30% - 20px);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.file-item img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.file-item a {
    text-decoration: none;
    color: inherit;
    font-family: 'Courier New', Courier, monospace;
}
